p,
a,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Overpass Mono", system-ui;
  overflow-x: hidden !important;
}

.navbar-brand {
  font-size: 2em;
}

.nav-item {
  margin: 10px;
}

/* .logo {
  height: 250px;
  margin: auto !important;
  display: flex;
  margin-top: 20px !important;
} */

a {
  text-decoration: none !important;
  color: black;
}

a:hover {
  color: #1a4633;
}

.navbar {
  font-family: "Poppins", sans-serif;
}

.themebox {
  display: flex;
  margin: auto !important;
  justify-content: center;
  margin-top: 20px !important;
}

.dashboard .card {
  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
  color: #fff;
}
