p,
a,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden !important;
}

.logo {
  height: 250px;
  margin: auto !important;
  display: flex;
  margin-top: 20px !important;
}

a {
  text-decoration: none !important;
  color: black;
}

a:hover {
  color: #1a4633;
}

.navbar {
  font-family: "Poppins", sans-serif;
}

.themebox {
  display: flex;
  margin: auto !important;
  justify-content: center;
  margin-top: 20px !important;
}
